// .App{
//   div:nth-child(1) {
//       position: unset !;
//     }
// }
.Navbar{
  div{
    z-index: 10;
    height: 55px !important;
  }
}
.hero-text-container{
  div{
    inset: 200px 0 0 0 !important;
    z-index: 2;
  }
}
.hero-text{
    width: 40%;
    height: 6rem;
    border: 1px solid white;
}
.mountain-2{
  color: #222322;
  div{
    inset: 0 0 0 -400px;
  }
}
.page-2{
  div{
    // inset: -10px 0 0 0 !important;
  }
}
.page-2-layer-0{
  div{
    inset: -500px 0 0 0 !important;
  }
}
.page-2-layer-1{
  div{
    inset: -230px 0 0 0 !important;
  }
}


.textblock {
  height: 100vh;
  background-size: cover;
}

.textblock-container {
  margin: 0 5% 0 5%;
}

.textblock-title {
  color: white;
  font-weight: 400;
  margin-bottom: 0 !important;
  text-transform: uppercase;
}

.textblock-content {
  h1{
    width: 60%;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 95px;
    line-height: 1;
    letter-spacing: -5px;
  }
  p{
    margin-top: 1rem;
    width: 30%;
    line-height: 2;
    color: white;
  }
}





.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}
#artback{
  background-image: url(./images/sky.png);
}
#artbackL {
  background-image: url(./images/sky-l.png);
}
#artbackR {
  background-image: url(./images/sky-r.png);
}

#mountain {
  background-image: url(./images/forest.png);
}

#logoland {
  background-image: url(./images/logo_land.png);
}

#jungle1 {
  background-image: url(./images/house.png);
}

#jungle2 {
  background-image: url(./images/jungle2.png);
}

#jungle3 {
  background-image: url(./images/jungle3.png);
}

#jungle4 {
  background-image: url(./images/jungle4.png);
  color: #92c7fc;
}

#jungle5 {
  background-image: url(./images/sea.png);
}

#manonmountain {
  background-image: url(./images/man_on_mountain.png);
}

.layer-1{
  div{
    // inset: 0 0 0 800px  ;
    width: 100vw;
  }
}
.layer-2{
  div{
    // inset: 0 0 0 -25px;
    width: 100vw !important;
  }
}
.layer-3{
  div{
    inset: -120px 0 0 0;
  }
}
.layer-4{
  div{
    inset: -120px 0 0 0;
  }
}
.layer-5{
  div{
    inset: -180px 0 0 0;
  }
}
.layer-6{
  div{
    inset: -80px 0 0 0;
  }
}
.layer-7{
  div{
    inset: -10px 0 0 0;
  }
}